<table>
  <thead><tr><th class="num">#</th><th>at</th><th>domain</th><th>table</th><th>key</th><th>kind</th><th>by</th></tr></thead>
  <tbody>{{#events}}<tr><td class="num dim">{{seq}}</td><td class="dim mono">{{at}}</td><td class="dim">{{domain}}</td><td>{{table}}</td><td class="mono">{{key}}</td><td class="dim">{{kind}}</td><td class="dim num">{{actor}}</td></tr>{{/events}}</tbody>
</table>
