{{<layout}}{{$body}}
<p class="face">:-(</p>
<h1>unusable host</h1>
<p>The <code>Host</code> header did not name a domain this server can look up.</p>
<p class="hint">Not found and not supported.</p>
{{/body}}{{/layout}}
